name: Node.js CI with Tests

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 20.x
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
          cache: 'npm'
      - run: npm ci # On peut utiliser npm install mais c'est moins propre
      - run: npm run lint # Lint le code
      - run: npm test # Exécute les tests
      
  deploy:
    needs: build # S'exécute seulement si build réussit
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' # Seulement sur main

    steps:
      - uses: actions/checkout@v3
      - name: Deploy to Render
        uses: johnbeynon/render-deploy-action@v0.0.8
        with:
          service-id: ${{ secrets.RENDER_SERVICE_ID }}
          api-key: ${{ secrets.RENDER_API_KEY }}
          wait-for-success: true
      